
<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/client/client_types">Clients</a></li>
    <li><a class='active' href="/client/edit_type?type_id=<%= @client_type.id%>">Edit Client Type</a></li>

  </ol>
</div>
<div class="panel panel-primary">
  <div class="panel-heading ">
    <span class="glyphicon glyphicon-user" style="padding: 7px;"></span>
    <b>Edit Client Type</b>

  </div>
  <div class="panel-body">

  <div style="margin-top: 5px; margin-left: 10px; padding: 10px;">
    <%= render 'type_form' %>
  </div>

</div>
</div>