<style>

</style>
<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/client/index">Clients</a></li>
    <li><a class='active' href="/client/view?client_id=<%=@client.id%>">View Client</a></li>
  </ol>
</div>
<div class="panel panel-primary">
    <div class="panel-heading ">
      <span class="glyphicon glyphicon-eye-open"></span>
      <b>Enter Presenting Complaints</b>
      <div class="panel-btn" style="padding: 8px;">
            &nbsp;
      </div>

      <div class="pull-right" style="padding: 7px;font-style: italic; border: 1px solid #d3d3d3; border-left: 2px solid #2e6da4; ">
        &nbsp;<%= "#{@client.name} (#{@client.sex}, #{@client.age})" %>
      </div>
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">

            <div class="col-md-10" style="padding: 0px;min-height: 250px;">
                <div class="col-md-12">


                </div>
            </div>
        </div>

        <%= render :partial => "encounter/patient_trail"%>

      </div>
    </div>
</div>

