<style>
  .top-table{
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 8px 0px lightgray;

  }

  .top-table td {
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid lightgray;
    cursor: pointer;
  }
  .middle-table{
    box-shadow: 8px 8px 8px 0px lightgray;
    width: 92%;
    margin-left: 4%;
    border-top: 2px solid darkred

  }

  .middle-table td {
    height: 100%;
    text-align: center;
    font-size: 1.1em;
    border: 1px solid lightgray;
    cursor: pointer;
  }

  .middle-table thead th {
    text-align: center;
  }
  .middle-table th{
    height: 100%;
    padding: 15px;
    font-weight: bold;
    border: 1px solid lightgray;
    color: darkslategrey;
  }
  .middle-table caption{
    width: 92%;
    margin-left: 4%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }

#spinner-div {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

</style>



<div id="spinner-div" class="pt-5">
  <div class="spinner-border text-primary" role="status">
  </div>
</div>


<div style="width: 100%; height: 90vh;margin-top: 1vh;">
<table  style="width: 98%;height: 100%; margin: auto;">
  <tr>
    <td style="width: 100%;height: 6.5%;">
      <div class="pull-left" style="font-size: 1.2em; padding: 7px; margin-top: 13px; margin-bottom: 15px; background: white;"> 
        Showing Data for <span style="font-weight: bold;" id='district_label'> All Districts</span>
      </div>
      <select class="pull-right" id="district_id" label="District Filter" onchange="loadDashboardData()"
       style="width: 25% !important; padding: 7px; margin-top: 13px; margin-bottom: 15px; background: white;">
            <option value="">All  Districts</option>
            <% @districts.each do |t|%>
              <option value="<%=t.id%>"><%= t.name%></option>
            <% end %>
      </select>
    </td>
  </tr>

  <tr>
   <td>
      <table class="top-table">
        <tr>
          <td class="btn-danger" >
              Pending Services <br /> <span id='pending_services'></span>
          </td>

          <td class="btn-warning">
            Active Tokens <br /> <span id='active_tokens'></span>
          </td>

          <td class="btn-primary" >
            Services Done <br /> <span id='services_done'></span>
          </td>

          <td>
            Recorded Fridges <br /> <span id='recorded_fridges'></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td style="width: 100%;height: 60%;border-bottom: 1px solid cornflowerblue; font-size: 1.1em">
        <table class="table  middle-table">
          <caption> Statistics By Time </caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Pending Services</th>
              <th scope="col">Active Tokens</th>
              <th scope="col">Services Done</th>
              <th scope="col">Recorded Fridges</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Today</th>
              <td class='today pending_services' ></td>
              <td class='today active_tokens'></td>
              <td class='today services_done' ></td>
              <td class='today recorded_fridges' ></td>
            </tr>
            <tr>
              <th scope="row">This Week</th>
              <td class='week pending_services' ></td>
              <td class='week active_tokens' ></td>
              <td class='week services_done' ></td>
              <td class='week recorded_fridges' ></td>
            </tr>
            <tr>
              <th>This Month</th>
              <td class='month pending_services'></td>
              <td class='month active_tokens'></td>
              <td class='month services_done'></td>
              <td class='month recorded_fridges'></td>
            </tr>
            <tr>
              <th scope="row">This Year</th>
              <td class='year pending_services'></td>
              <td class='year active_tokens'></td>
              <td class='year services_done'></td>
              <td class='year recorded_fridges'></td>
            </tr>

             <tr>
              <th scope="row">Ever Since</th>
              <td class='eversince pending_services'></td>
              <td class='eversince active_tokens'></td>
              <td class='eversince services_done'></td>
              <td class='eversince recorded_fridges'></td>
            </tr>          

          </tbody>
      </table>
    </td>
  </tr>

  <tr>
    <td style="width: 100%;height: 14.5%;">

    </td>
  </tr>
</table>
</div>

<script>
  $(document).ready(function(){
      loadDashboardData();
  })

  function loadAggregates(){
    district = __$('district_id').value
    jQuery.ajax({
      url: 'home/aggregates?district_id=' + district,
      success: function(result){
        data = JSON.parse(result);
        for(k in data){
          __$(k).innerHTML = data[k];
          __$(k).parentNode.setAttribute('category', k)
          __$(k).parentNode.onclick = function(){
              var category = this.getAttribute('category')
              window.location = 'fridge/selected_' + category + "?district_id=" + __$("district_id").value
          }
        }
      }
    });
  }

  function loadAggregatesByPeriod(){
    district = __$('district_id').value
    jQuery.ajax({
      url: 'home/aggregates_by_period?district_id=' + district,
      success: function(result){
        data = JSON.parse(result);
        for(period in data){
            for (k in data[period]){
              $("." + period.trim()).filter("." + k.trim()).attr("period", period.trim())
              $("." + period.trim()).filter("." + k.trim()).attr("category", k.trim())

              $("." + period.trim()).filter("." + k.trim()).html(data[period.trim()][k.trim()]);
              $("." + period.trim()).filter("." + k.trim()).click(function(){

                window.location = 'fridge/selected_' + $(this).attr("category") + '?period=' + $(this).attr("period") + "&district_id=" + __$("district_id").value ;
              })
            }
        }

        var el = document.getElementById('district_id');
        var district = el.options[el.selectedIndex].innerHTML;
        __$("district_label").innerHTML = district;
        $("#spinner-div").hide();

      }
    });
  }

  function loadDashboardData(){
    $("#spinner-div").show();

    loadAggregates();
    loadAggregatesByPeriod();

  }
  
</script>