<div style="width: 100%; height: 90vh;margin-top: 1vh;">
<table style="width: 98%;height: 100%; margin: auto;">
  <tr>
    <td style="width: 100%;height: 22.5%;border-bottom: 1px solid cornflowerblue;">
    <button type="button" class="btn btn-lg btn-danger" style="margin-left: 5%;margin-right: 5%;">
      Pending Services <span class="badge badge-light" style="font-size: 1.2em;">2</span>
    </button>
    
    <button type="button" class="btn btn-lg btn-warning"  style="margin-left: 5%;">
      Active Tokens <span class="badge badge-light" style="font-size: 1.2em;">0</span>
    </button>

    

    <button type="button" class="btn btn-lg btn-warning" style="margin-left: 5%;">
      Relocations <span class="badge badge-light" style="font-size: 1.2em;">2</span>
    </button>

    <button type="button" class="btn btn-lg btn-warning" style="margin-left: 3%;">
      Recorded Fridges <span class="badge badge-light" style="font-size: 1.2em;">10</span>
    </button>

    </td>
  </tr>

  <tr>
    <td style="width: 100%;height: 60%;border-bottom: 1px solid cornflowerblue; font-size: 1.1em">
    <table class="table table-md table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Service Done</th>
        <th scope="col">Escalations</th>
        <th scope="col">All Fridges Recorded</th>
      </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Today</th>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
      <tr>
        <th scope="row">This Week</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">This Month</th>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">This Year</th>
        <td>23</td>
        <td>65</td>
        <td>6</td>
      </tr>

      <tr>
      <th scope="row">Ever Since</th>
      <td>23</td>
      <td>65</td>
      <td>6</td>
    </tr>

    </tbody>
  </table>
    </td>
  </tr>

  <tr>
    <td style="width: 100%;height: 22.5%;">

    </td>
  </tr>
</table>
</div>