# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9be3156c0e4fed90e85e2bd23d6a03b608c4ccd46706ee6e0fc8276a281b82da31283da1005daa3bb8dc6472762b856f112b4f89eacc323c65c508fd1d6005cc

test:
  secret_key_base: 79b2d20b37295ff11e2ae05fd121f79c975914cd05bd336dd92a7adfc91ab4776656d714a8c968954dba331f0ceca3c2b9af5aa0950ca99d70e8bac7ed438c39

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 9be3156c0e4fed90e85e2bd23d6a03b608c4ccd46706ee6e0fc8276a281b82da31283da1005daa3bb8dc6472762b856f112b4f89eacc323c65c508fd1d6005cc
