
<div>
  <ol class="breadcrumb " style="margin: 3px; padding: 5px;">
    <li><a href="/">Home</a></li>
    <li><a href="/user/roles">Roles</a></li>
    <li><a class='active' href="/user/edit_role">Edit Role</a></li>

  </ol>
</div>
<div class="panel panel-primary">
  <div class="panel-heading ">
    <span class="glyphicon glyphicon-user" style="padding: 7px;"></span>
    <b>Edit Role</b>

  </div>
  <div class="panel-body">

  <div style="margin-top: 5px; margin-left: 10px; padding: 10px;">
    <%= render 'role_form' %>
  </div>

</div>
</div>